@font-face {
  font-family: 'RobotoRegular';
  src: url('./Roboto-Regular.ttf');
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: RobotoRegular;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #42455E;
  color: white;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-weight: normal;
  margin: 0;
  font-size: 1em;
  margin-bottom: 20px;
  text-align: center;
}

#board {
  width: 500px;
  height: 500px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.square {
  flex: 1;
  background: white;
  color: #42455E;
  display: flex;
  outline: 1px solid black;
  cursor: pointer;
  font-size: .8em;
}

.square-0 {
  background: white;
}

.square-1 {
  background: black;
}

.square-2 {
  background: green;
}

.square-3 {
  background: red;
}

.path {
  background: purple;
}

button {
  border: 1px solid rgb(59, 61, 75);
  background: rgb(49, 51, 65);
  color: white;
  padding: 10px 10px;
  font-size: .8em;
  margin: 10px;
  margin-left: 0px;
  cursor: pointer;
  border-radius: 5px;
}

select {
  border: 1px solid #CCC;
  border-radius: 5px;
  height: 35px;
  width: 50px;
  margin-right: 10px;
}
